In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.4.4

In [3]:
df_test_data = pd.read_csv('CsvFiles/成績一覧表.csv',encoding='utf-8',)

In [4]:
type(df_test_data)

pandas.core.frame.DataFrame

In [5]:
pd.set_option('display.max_rows',5) #最大表示列

In [6]:
df_test_data
#(データがえぐいほどある時元から省略されるからそう言う時はmax_rowsを拡張でき､全表示できる)

        試験名    担任  学年  組   №     氏名  国語  数学  理科  社会  英語   合計
0   1学期中間試験  山田　諭   3  2   1  浅野　麻耶  84  74  65  77  78  378
1   1学期中間試験  山田　諭   3  2   2  井戸　弘樹  55  75  45  58  98  331
..      ...   ...  .. ..  ..    ...  ..  ..  ..  ..  ..  ...
43  1学期中間試験  山田　諭   3  1  44  矢部　由香  60  44  75  88  57  324
44  1学期中間試験  山田　諭   3  1  45  横山　理恵  57  56  65  94  95  367

[45 rows x 12 columns]

In [7]:
df_test_data

        試験名    担任  学年  組   №     氏名  国語  数学  理科  社会  英語   合計
0   1学期中間試験  山田　諭   3  2   1  浅野　麻耶  84  74  65  77  78  378
1   1学期中間試験  山田　諭   3  2   2  井戸　弘樹  55  75  45  58  98  331
..      ...   ...  .. ..  ..    ...  ..  ..  ..  ..  ..  ...
43  1学期中間試験  山田　諭   3  1  44  矢部　由香  60  44  75  88  57  324
44  1学期中間試験  山田　諭   3  1  45  横山　理恵  57  56  65  94  95  367

[45 rows x 12 columns]

In [8]:
pd.reset_option('display.max_rows') #上でセットしたオプションをリセットする

In [9]:
df_test_data.head() #デフォルトが５

       試験名    担任  学年  組  №     氏名  国語  数学  理科  社会  英語   合計
0  1学期中間試験  山田　諭   3  2  1  浅野　麻耶  84  74  65  77  78  378
1  1学期中間試験  山田　諭   3  2  2  井戸　弘樹  55  75  45  58  98  331
2  1学期中間試験  山田　諭   3  2  3   岡　和重  84  55  75  48  44  306
3  1学期中間試験  山田　諭   3  2  4   岡本　昭  75  68  75  54  65  337
4  1学期中間試験  山田　諭   3  2  5  小川　雅行  68  64  85  65  58  340

In [10]:
pd.set_option('display.max_rows',50)
df_test_data.head(10)

       試験名    担任  学年  組   №     氏名  国語  数学  理科  社会  英語   合計
0  1学期中間試験  山田　諭   3  2   1  浅野　麻耶  84  74  65  77  78  378
1  1学期中間試験  山田　諭   3  2   2  井戸　弘樹  55  75  45  58  98  331
2  1学期中間試験  山田　諭   3  2   3   岡　和重  84  55  75  48  44  306
3  1学期中間試験  山田　諭   3  2   4   岡本　昭  75  68  75  54  65  337
4  1学期中間試験  山田　諭   3  2   5  小川　雅行  68  64  85  65  58  340
5  1学期中間試験  山田　諭   3  1   6   斉藤　敦  57  85  65  85  87  379
6  1学期中間試験  山田　諭   3  1   7  佐野　俊一  95  75  54  77  54  355
7  1学期中間試験  山田　諭   3  1   8   白浜　誠  84  45  68  68  88  353
8  1学期中間試験  山田　諭   3  1   9  田中　賢治  75  68  75  54  65  337
9  1学期中間試験  山田　諭   3  1  10  中村　晴彦  84  58  95  85  87  409

In [11]:
df_test_data.tail(10) #後ろから10行表示

        試験名    担任  学年  組   №      氏名  国語  数学  理科  社会  英語   合計
35  1学期中間試験  山田　諭   3  1  36  藤波　みずき  75  57  45  77  65  319
36  1学期中間試験  山田　諭   3  1  37  堀部　みちる  88  48  85  56  84  361
37  1学期中間試験  山田　諭   3  1  38   松崎　康代  65  57  65  90  57  334
38  1学期中間試験  山田　諭   3  1  39   松本　佳子  75  62  85  85  76  383
39  1学期中間試験  山田　諭   3  1  40  三村　由紀子  75  82  77  65  84  383
40  1学期中間試験  山田　諭   3  1  41  宮口　由紀子  44  45  76  80  50  295
41  1学期中間試験  山田　諭   3  1  42   三宅　京子  85  76  45  75  95  376
42  1学期中間試験  山田　諭   3  1  43   薮野　朋子  90  85  88  68  88  419
43  1学期中間試験  山田　諭   3  1  44   矢部　由香  60  44  75  88  57  324
44  1学期中間試験  山田　諭   3  1  45   横山　理恵  57  56  65  94  95  367

In [12]:
a = df_test_data #いちいち書くのめんどいからこっから aでやる
a.sample(10) #ランダムでどこかの10行取ってくる

        試験名    担任  学年  組   №      氏名  国語  数学  理科  社会  英語   合計
3   1学期中間試験  山田　諭   3  2   4    岡本　昭  75  68  75  54  65  337
42  1学期中間試験  山田　諭   3  1  43   薮野　朋子  90  85  88  68  88  419
36  1学期中間試験  山田　諭   3  1  37  堀部　みちる  88  48  85  56  84  361
28  1学期中間試験  山田　諭   3  1  29   田中　典子  72  85  75  55  95  382
44  1学期中間試験  山田　諭   3  1  45   横山　理恵  57  56  65  94  95  367
25  1学期中間試験  山田　諭   3  1  26  佐々木　千尋  88  56  85  44  75  348
8   1学期中間試験  山田　諭   3  1   9   田中　賢治  75  68  75  54  65  337
6   1学期中間試験  山田　諭   3  1   7   佐野　俊一  95  75  54  77  54  355
11  1学期中間試験  山田　諭   3  1  12   光中　弘樹  54  77  58  44  65  298
4   1学期中間試験  山田　諭   3  2   5   小川　雅行  68  64  85  65  58  340

In [13]:
a.info()  #表のカラムごとの情報

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   試験名     45 non-null     object
 1   担任      45 non-null     object
 2   学年      45 non-null     int64
 3   組       45 non-null     int64
 4   №       45 non-null     int64
 5   氏名      45 non-null     object
 6   国語      45 non-null     int64
 7   数学      45 non-null     int64
 8   理科      45 non-null     int64
 9   社会      45 non-null     int64
 10  英語      45 non-null     int64
 11  合計      45 non-null     int64
dtypes: int64(9), object(3)
memory usage: 4.3+ KB

In [14]:
a.describe()

,学年,組,№,国語,数学,理科,社会,英語,合計
count,45.0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
mean,3.0,1.111111,23.000000,74.155556,69.622222,70.311111,70.244444,74.511111,358.844444
std,0.0,0.317821,13.133926,13.557882,15.290058,14.223576,17.306273,17.829524,38.573988
min,3.0,1.000000,1.000000,44.000000,44.000000,35.000000,35.000000,35.000000,292.000000
25%,3.0,1.000000,12.000000,65.000000,57.000000,62.000000,56.000000,58.000000,334.000000
50%,3.0,1.000000,23.000000,75.000000,75.000000,75.000000,68.000000,78.000000,355.000000
75%,3.0,1.000000,34.000000,84.000000,84.000000,82.000000,85.000000,88.000000,382.000000
max,3.0,2.000000,45.000000,98.000000,99.000000,95.000000,99.000000,98.000000,468.000000

In [15]:
a.describe().round(0)

         学年     組     №    国語    数学    理科    社会    英語     合計
count  45.0  45.0  45.0  45.0  45.0  45.0  45.0  45.0   45.0
mean    3.0   1.0  23.0  74.0  70.0  70.0  70.0  75.0  359.0
std     0.0   0.0  13.0  14.0  15.0  14.0  17.0  18.0   39.0
min     3.0   1.0   1.0  44.0  44.0  35.0  35.0  35.0  292.0
25%     3.0   1.0  12.0  65.0  57.0  62.0  56.0  58.0  334.0
50%     3.0   1.0  23.0  75.0  75.0  75.0  68.0  78.0  355.0
75%     3.0   1.0  34.0  84.0  84.0  82.0  85.0  88.0  382.0
max     3.0   2.0  45.0  98.0  99.0  95.0  99.0  98.0  468.0

In [41]:
a_mean = a.groupby(by='氏名').mean()[['国語','数学','英語','合計']].round(0)
a_mean            #↑で氏名ごとにグループを分け、そのグループの,↑の要素ごとのmean値を表示する

          国語    数学    英語     合計
氏名
三宅　京子   85.0  76.0  95.0  376.0
三村　由紀子  75.0  82.0  84.0  383.0
中村　晴彦   84.0  58.0  87.0  409.0
井戸　弘樹   55.0  75.0  98.0  331.0
伊藤　裕美子  78.0  88.0  90.0  351.0
佐々木　千尋  88.0  56.0  75.0  348.0
佐伯　博子   59.0  77.0  85.0  392.0
佐野　俊一   95.0  75.0  54.0  355.0
光中　弘樹   54.0  77.0  65.0  298.0
原　文雄    66.0  75.0  95.0  408.0
原　萌子    95.0  99.0  97.0  468.0
堀部　みちる  88.0  48.0  84.0  361.0
大波　恵子   65.0  57.0  85.0  308.0
安原　大輔   75.0  84.0  88.0  350.0
宮口　由紀子  44.0  45.0  50.0  295.0
小川　美和   83.0  84.0  75.0  392.0
小川　雅行   68.0  64.0  58.0  340.0
小林　弘子   82.0  95.0  84.0  378.0
山田　智一   85.0  82.0  95.0  431.0
岡　和重    84.0  55.0  44.0  306.0
岡本　昭    75.0  68.0  65.0  337.0
後藤　悦子   81.0  75.0  65.0  381.0
戸倉　由香   64.0  84.0  48.0  315.0
斉藤　敦    57.0  85.0  87.0  379.0
松崎　康代   65.0  57.0  57.0  334.0
松本　佳子   75.0  62.0  76.0  383.0
柵原　鉄    95.0  91.0  77.0  406.0
横山　理恵   57.0  56.0  95.0  367.0
浅野　麻耶   84.0  74.0  78.0  378.0
渡邊　聡    54.0  77.0  65.0  298.0
澤田　綾子   79.0  48.0  44.0  292.0
田中　久子   72.0  85.0  95.0  382.0
田中　典子   72.0  85.0  95.0  382.0
田中　賢治   75.0  68.0  65.0  337.0
田辺　香織   83.0  45.0  80.0  340.0
白浜　誠    84.0  45.0  88.0  353.0
矢部　由香   60.0  44.0  57.0  324.0
秋田　真由子  45.0  65.0  86.0  354.0
薮野　朋子   90.0  85.0  88.0  419.0
藤波　みずき  75.0  57.0  65.0  319.0
近藤　智美   75.0  84.0  35.0  361.0
長瀬　千恵   58.0  75.0  97.0  384.0
難波　優子   75.0  65.0  55.0  327.0
雪森　寿之   98.0  45.0  45.0  353.0
高木　博子   81.0  56.0  57.0  363.0

In [35]:
a_mean.sort_values(by='合計',ascending=False)

          国語    数学    英語     合計
氏名
原　萌子    95.0  99.0  97.0  468.0
山田　智一   85.0  82.0  95.0  431.0
薮野　朋子   90.0  85.0  88.0  419.0
中村　晴彦   84.0  58.0  87.0  409.0
原　文雄    66.0  75.0  95.0  408.0
柵原　鉄    95.0  91.0  77.0  406.0
佐伯　博子   59.0  77.0  85.0  392.0
小川　美和   83.0  84.0  75.0  392.0
長瀬　千恵   58.0  75.0  97.0  384.0
松本　佳子   75.0  62.0  76.0  383.0
三村　由紀子  75.0  82.0  84.0  383.0
田中　典子   72.0  85.0  95.0  382.0
田中　久子   72.0  85.0  95.0  382.0
後藤　悦子   81.0  75.0  65.0  381.0
斉藤　敦    57.0  85.0  87.0  379.0
浅野　麻耶   84.0  74.0  78.0  378.0
小林　弘子   82.0  95.0  84.0  378.0
三宅　京子   85.0  76.0  95.0  376.0
横山　理恵   57.0  56.0  95.0  367.0
高木　博子   81.0  56.0  57.0  363.0
近藤　智美   75.0  84.0  35.0  361.0
堀部　みちる  88.0  48.0  84.0  361.0
佐野　俊一   95.0  75.0  54.0  355.0
秋田　真由子  45.0  65.0  86.0  354.0
雪森　寿之   98.0  45.0  45.0  353.0
白浜　誠    84.0  45.0  88.0  353.0
伊藤　裕美子  78.0  88.0  90.0  351.0
安原　大輔   75.0  84.0  88.0  350.0
佐々木　千尋  88.0  56.0  75.0  348.0
小川　雅行   68.0  64.0  58.0  340.0
田辺　香織   83.0  45.0  80.0  340.0
田中　賢治   75.0  68.0  65.0  337.0
岡本　昭    75.0  68.0  65.0  337.0
松崎　康代   65.0  57.0  57.0  334.0
井戸　弘樹   55.0  75.0  98.0  331.0
難波　優子   75.0  65.0  55.0  327.0
矢部　由香   60.0  44.0  57.0  324.0
藤波　みずき  75.0  57.0  65.0  319.0
戸倉　由香   64.0  84.0  48.0  315.0
大波　恵子   65.0  57.0  85.0  308.0
岡　和重    84.0  55.0  44.0  306.0
渡邊　聡    54.0  77.0  65.0  298.0
光中　弘樹   54.0  77.0  65.0  298.0
宮口　由紀子  44.0  45.0  50.0  295.0
澤田　綾子   79.0  48.0  44.0  292.0

In [ ]:
left